# Raw data — never commit source CSVs to version control
data/raw/
data/cleaned/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.venv
*.egg

# Pipenv
.venv/

# Spark
derby.log
metastore_db/
spark-warehouse/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
